{
	"data": "ENC[AES256_GCM,data:k/OSKNemp7QknilEL8gB2g9vDTpfBRLe33+cxQZSZhssx+nCZ3ozVIYLYIqawFDly6icayH9TZpkfD9ZVvV3WsqNnMuNshLU48YqALIuHoqAHVJB4K/zxcVR9xJ2MAh37ol59qpoA2JiAdrzyLSVWlTN0HXErCyXZt6BCaPkpmjORnNdlgHFI6v6GBxwQC3bFuk=,iv:aQGMyeinOMXfjQRKCCmZYH8dNgxejE0q8gmBYPQx9mE=,tag:/E9iKqyLNR/vlP3usFmZ5w==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1hhnjylnwfh0w6sxzlvc905ma8wa5pkspv9k2kj8a0d993m8h734se3jh7u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBnL2VMK2wyTEFyMVNXMHV6\neVZJL21BMEtXdTNZNEY3NjB5Q1FVcWg1U1JNCmlLTjFNRzJhWGVYUVlsQjBSaTVw\nbVFYUFJtNGc4RHFrbk1nUnFRakEyY00KLS0tIDNkTUxkMnBjY0NqZEROeXRpeTVs\nTFZ3TVg4MUdEd2IwTndrYlBrSnlVdW8KOY54Eio83C7ZQEUeVBUMuvnDLYuog2LJ\nT+jVIDFGXPvEyw8AJY9a+Q7n3ywFFwureV/EjR/bNBiuXd8k7eMVbw==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2026-03-05T13:56:39Z",
		"mac": "ENC[AES256_GCM,data:LlYG3PenTbmz/rNcA2z7T5l+/i2JcgVnXz8DqB/u+y57UxZnPQKehham/L3q61Hb62ar6PI1SEzgCHn50UqJ5OaXGoX5kZtX5/Snaez97Lgnj/N6tbewwBjxzlQzLpnwBdD3yhijPN8fxgI3H1b82GhMmyhb27oe84TbITqx9/M=,iv:a6XeMPlj5fXpRdV5UyMy4KaSDlti7DNNq3+ufIPVDCE=,tag:w0ezzguMriqRb1A9wX+ENg==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.8.1"
	}
}